* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

#griglia {
    width: 400px;
    height: 400px;
    margin: auto;
}

.quadrato {
    width: calc(400px / 6);
    height: calc(400px / 6);
    float: left;
    border: 2px solid black;
    display: flex;
    cursor: pointer;
}

.numero {
    margin: auto;
    font-size: 25px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
